<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="term" (ionChange)="searchChanged($event)"></ion-searchbar>
  <ion-item>
    <ion-label>Selecciona el tipo</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option selected="true" value="">Todos</ion-select-option>
      <ion-select-option value="movie">Pelicula</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="espisode">Episodio</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let peli of (results | async)" [routerLink]="['/', 'peli', peli.imdbID]">
      <ion-avatar slot="start">
        <img src="{{peli.Poster}}" alt="{{peli.Title}}" *ngIf="peli.Poster != 'N/A'">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{peli.Title}}</h3>
        {{peli.Yerar}}

        <ion-icon slot="end" *ngIf="peli.type === 'movie'" name="videocam"></ion-icon>
        <ion-icon slot="end" *ngIf="peli.type === 'series'" name="tv"></ion-icon>
        <ion-icon slot="end" *ngIf="peli.type === 'espisode'" name="tablet-portrait"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>